.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
}

.tile {
    border: 1px solid black;
}

.xtile {
    background-color: blue;
}

.otile {
    background-color: orange;
}